@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.head{
    margin: 40px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    margin: auto;
    width: 100%;
    border: 6px solid rgb(30, 255, 0);

}

.col-6{
}

.fp{
    background-image: url("Album/v617batch2-kul-04-technology.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fp .branding{
    margin-top: 20px;
    float: left;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}

.fp .fText{
    margin-top: 10px;
    text-align: right;
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 70px;
    color: #b2cbe5;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.fp .sText{
    text-align: right;
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 70px;
    color: #f2f7fa;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sp{
    border: 1px solid #000;
}

.sp .conv{
    width: 100%;
}

.conv{
    /* margin: 100px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.in-ou{
    border: 1px solid #000;
    margin: 30px 0;
}

